<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>leetcode036.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>516768C21CF93FEC00ACA7CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>516768D61CF93FEE00ACA7CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>516768E11CF93FEE00ACA7CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
